$background-color: #002B36;
$text-color: #93A1A1;
$text-focus-color: #d0edf7;
$divider-color: $text-color;
$alert-text-color: white;
$alert-background: #6C71C4;
$editor-overlay-text-color: white;
$editor-overlay-subtext-color: #93A1A1;
$editor-overlay-background: #586e75;
$editor-overlay-input-background: black;
$editor-overlay-selected-background: #657B83;
$editor-overlay-input-text-color: $editor-overlay-text-color;
