@import "client/style/Colors";

.pane-container {
  color: $text-color;
  background-color: $background-color;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-pane {
  width: 200px;
  padding: 5px;
  border-right: 1px solid $divider-color;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}

.content-pane {
  flex-shrink: 1;
  flex-grow: 1;
}

